name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.16

    - name: Run
      run: cd src/craw && go run main.go
      
    - uses: EndBug/add-and-commit@v9
      with:
        add: 'src/download'
        author_name: yinweiwen
        commit: --signoff
        cwd: '.'
        message: 'commit ${date}'
        new_branch: branch-${date}
        pathspec_error_handling: ignore
        push: true
